In [1]:
import pandas as pd
import numpy as np
import random
from sklearn import model_selection
import os

In [2]:
TRAINING_FILE =  './TargetData.csv'
dfx = pd.read_csv(TRAINING_FILE)

label_map = {}
original_label = dfx.landmark_id.unique()
for index in range(len(original_label)):
    label_map[original_label[index]] = index

dfx['label'] = dfx['landmark_id'].map(label_map)

In [3]:
dfx.head()

                 id  landmark_id  label
0  00cba0067c078490           27      0
1  00f928e383e1d121           27      0
2  0110a04e618bc368           27      0
3  026afdc670937e3b           27      0
4  0319627771784e54           27      0

In [4]:
dfx.landmark_id.value_counts()

138982    6272
126637    2231
20409     1758
83144     1741
113209    1135
177870    1088
194914    1073
149980     971
139894     966
1924       944
176528     920
9070       900
20120      888
46705      888
168098     888
161902     861
36748      839
120734     820
176018     820
10419      776
45428      757
14915      754
41648      742
165596     734
47378      731
187779     730
38482      704
40088      679
25093      663
162833     662
173511     656
189907     621
190822     614
76303      604
191292     600
109169     597
51856      576
192931     572
41808      570
107164     542
189811     540
101399     538
64792      531
80177      527
27190      520
152708     514
143710     508
31531      505
27         504
113838     503
85633      502
Name: landmark_id, dtype: int64

In [5]:
df_train_valid, df_test = model_selection.train_test_split(
    dfx, 
    test_size=0.1,
    random_state=42,
    stratify=dfx.landmark_id.values
)

df_train, df_valid = model_selection.train_test_split(
    df_train_valid, 
    test_size=0.1,
    random_state=42,
    stratify=df_train_valid.landmark_id.values
)

In [6]:
print(f'Total Data: {len(dfx)}')
print(f'Total Training-Valid Data: {len(df_train_valid)}')
print(f'Total Test Data: {len(df_test)}')
print(f'Total Training Data: {len(df_train)}')
print(f'Total Validation Data: {len(df_valid)}')

Total Data: 45579
Total Training-Valid Data: 41021
Total Test Data: 4558
Total Training Data: 36918
Total Validation Data: 4103

In [7]:
df_test.to_csv('./TargetData-Test.csv', index=False)  
df_train.to_csv('./TargetData-Train.csv', index=False)  
df_valid.to_csv('./TargetData-Valid.csv', index=False)

In [8]:
label_map

{27: 0,
 1924: 1,
 9070: 2,
 10419: 3,
 14915: 4,
 20120: 5,
 20409: 6,
 25093: 7,
 27190: 8,
 31531: 9,
 36748: 10,
 38482: 11,
 40088: 12,
 41648: 13,
 41808: 14,
 45428: 15,
 46705: 16,
 47378: 17,
 51856: 18,
 64792: 19,
 76303: 20,
 80177: 21,
 83144: 22,
 85633: 23,
 101399: 24,
 107164: 25,
 109169: 26,
 113209: 27,
 113838: 28,
 120734: 29,
 126637: 30,
 138982: 31,
 139894: 32,
 143710: 33,
 149980: 34,
 152708: 35,
 161902: 36,
 162833: 37,
 165596: 38,
 168098: 39,
 173511: 40,
 176018: 41,
 176528: 42,
 177870: 43,
 187779: 44,
 189811: 45,
 189907: 46,
 190822: 47,
 191292: 48,
 192931: 49,
 194914: 50}

51